header.heads-up {
    h1 {
      margin: 5px;
      background: #e4e4e4;
      font-family: TateNewRegular,Arial,Helvetica,sans-serif;
      font-weight: normal;
      border: 1px solid #d9d5cf;
      padding: 11px 10px 10px 10px;
    }
}
