article.room {
  width:200px;
  height:200px;
  flex:1 49%;
  position: relative;
  cursor: pointer;
  background: rgb(136, 104, 97);
  border:1px solid black;
  &:hover {
    background: rgb(240, 186, 170);
    @include transition(background, 0.2s, ease-in-out);
  }

  header {
    color: orange;
    font-size: 3em;
    text-align: center;
    margin-top: 65px;
  }


  img {
    width: 100%;
    height: 200px;
    position: absolute;
    opacity: 0.2;
  }
}

div.room {
  .slider {
    .slide {
      width:100%;
      position: relative;
      img {
        width: 100%;
      }
    }
  }
  header {
    position: absolute;
    left: 198px;
    top: 131px;
    font-size: 5em;
    color: orange;
  }


  .information {
    word-break: break-word;
    font-size: 22px;
    line-height: 31px;
  }
}
