article.room {
  flex:1 50%;
  position: relative;
  cursor: pointer;
  &:hover img {
    opacity:0.8;
    @include transition(opacity, 0.2s, ease-in-out);
  }

  header {
    position: absolute;
    left: 200px;
    top: 99px;
    color: white;
    font-size: 4em;
  }

  img {
    height: 100%;
    width:100%;
    display: block;
    @include transition(opacity, 0.3s, ease-in-out);
  }
}
