.slider {
  .slides {
    .slide {
      img {
        width: 720px;
        height: 415px;
        margin-top: 4px;
        float: left;
      }
      
      aside {
        float: left;
        background: rgb(242, 77, 77);
        width: 240px;
        height: 414px;
        margin-top: 5px;
      }
    }
  }
}
