<div class="content-container">
  <section class="Contact form">
    <header class="content-header">Contact</header>
    <label for="name">Naam</label><input id="name" name="name" type="text"/>
    <label for="email">Email</label><input id="email" name="email" type="email"/>
    <label for="message">Bericht</label><textarea id="message" name="message"/>

  </section>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2451.600323621752!2d4.8957353308102265!3d52.08700519948939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c679df02a83215%3A0x4215af0c0fc1e8a2!2sJohan+de+Wittlaan+9%2C+3445+AG+Woerden!5e0!3m2!1snl!2snl!4v1416136659320" width="600" height="450" frameborder="0" style="border:0"></iframe></div>
