<footer>
  <div class="footer-content">
    <section>
      <header><h2>Shortcuts</h2></header>
      <article>
        <ul>
          <li><a href="#"></a>Tate Members</li>
          <li><a href="#"></a>Tate Kids</li>
          <li><a href="#"></a>Tate Colletives</li>
          <li><a href="#"></a>Working at Tate</li>
          <li><a href="#"></a>ARTIST ROOMS</li>
          <li><a href="#"></a>Press office</li>
          <li><a href="#"></a>Picture Library</li>
          <li><a href="#"></a>Copyright, Permissions and photography</li>
          <li><a href="#"></a>Privacy and cookies</li>
          <li><a href="#"></a>Terms of use</li>
        </ul>
      </article>
    </section>

    <section>
      <header><h2>Connect</h2></header>
      <article>
        <ul>
          <li><a href="#"></a>Contact us</li>
          <li><a href="#"></a>Facebook</li>
          <li><a href="#"></a>Twitter</li>
          <li><a href="#"></a>Youtube</li>
          <li><a href="#"></a>Social media directory</li>
          <li><a href="#"></a>Podcasts</li>
        </ul>
      </article>
    </section>

    <section>
      <header><h2>Support</h2></header>
      <article>
        <ul>
          <li><a href="#"></a>Tate&eacute; charitable status</li>
          <li><a href="#"></a>Donate</li>
          <li><a href="#"></a>Become a Patron</li>
          <li><a href="#"></a>Corporate Members</li>
          <li><a href="#"></a>Sponsorship</li>
          <li><a href="#"></a>Corporate and private events</li>
        </ul>
      </article>
    </section>

    <section>
      <header>Email sign-up</header>
      <article>
        <p>Keep up to date with Tate events, exhibitions and news</p>

        <form action="">
          <input type="email"/>
          <input type="submit" value="Sign up" name="email-sign-up"/>
        </form>
      </article>
    </section>
  </div>
</footer>
