<div class="content-container">
  <section class="slider">
    <div class="slides">
      <article class="slide">
        <img src="./images/slides/slide1.jpg" width="960" height="555" alt="slide 1"/>
        <aside>super text</aside>
      </article>
    </div>
  </section>

  <section>
    <header class="heads-up">
      <h1>What's on:exhibitions</h1>
    </header>

    <div class="exhibitions">
        <article class="box exhibition">
          <header class="box-header">
            <span>TATE BRITAIN : EXHIBITION</span>
          </header>
          <img src="./images/exhibitions/exhibition1.jpg" alt="exhibition 1"/>
          <span class="exhibition-title"></span>
          <span class="exhibtion-information"></span>
        </article>
    </div>

  </section>

</div>
