<div class="content-container">
  <section class="slider">
    <div class="slides">
      <article class="slide">
        <img src="./images/slides/slide1.jpg" width="960" height="555" alt="slide 1"/>
        <aside>
          <article>
            <header><h2><a href="#">Darwin Museum</a></h2></header>
            <p>Openings tijden:</p>
            <p>ma / vr : 12:00/22:00</p>
            <p>za / zo : 09:00/18:00</p>
            <a href="#">> Read more</a>
            <div class="arrow"></div>
          </article>
        </aside>
      </article>
    </div>
  </section>

  <section>
    <header class="heads-up">
      <h1>What's on:exhibitions</h1>
    </header>

    <div class="exhibitions">
      <article class="box exhibition">
        <header class="box-header">
          <span>TATE BRITAIN : EXHIBITION</span>
        </header>
        <img src="./images/exhibitions/bigexhibit1.jpg" alt="exhibition 1"/>
        <span class="exhibition-title">The EY Exhibition: Late Turner – Painting Set Free</span>
        <time>10 September 2014 – 25 January 2015</time>
          <span class="exhibition-information">
            Bringing together breathtaking works from the UK and abroad, this exhibition celebrates Turner’s astonishing creative flowering in these later years
          </span>

        <div class="book-now"><a ui-sref="home.ticket.order">kaartje kopen</a></div>
      </article>

      <article class="box exhibition">
        <header class="box-header">
          <span>TATE BRITAIN : EXHIBITION</span>
        </header>
        <img src="./images/exhibitions/bigexhibit2.jpg" alt="exhibition 1"/>
        <span class="exhibition-title">The EY Exhibition: Late Turner – Painting Set Free</span>
        <time>10 September 2014 – 25 January 2015</time>
          <span class="exhibition-information">
            Bringing together breathtaking works from the UK and abroad, this exhibition celebrates Turner’s astonishing creative flowering in these later years
          </span>

        <div class="book-now"><a ui-sref="home.ticket.order">kaartje kopen</a></div>

      </article>

    </div>

    <div class="exhibitions">
      <article class="box exhibition">
        <header class="box-header">
          <span>TATE BRITAIN : EXHIBITION</span>
        </header>
        <img src="./images/exhibitions/smallexhibit1.jpg" alt="exhibition 1"/>
        <span class="exhibition-title">The EY Exhibition: Late Turner – Painting Set Free</span>
        <time>10 September 2014 – 25 January 2015</time>
          <span class="exhibition-information">
            Bringing together breathtaking works from the UK and abroad, this exhibition celebrates Turner’s astonishing creative flowering in these later years
          </span>

        <div class="book-now"><a ui-sref="home.ticket.order">kaartje kopen</a></div>
      </article>

      <article class="box exhibition">
        <header class="box-header">
          <span>TATE BRITAIN : EXHIBITION</span>
        </header>
        <img src="./images/exhibitions/smallexhibit2.jpg" alt="exhibition 1"/>
        <span class="exhibition-title">The EY Exhibition: Late Turner – Painting Set Free</span>
        <time>10 September 2014 – 25 January 2015</time>
          <span class="exhibition-information">
            Bringing together breathtaking works from the UK and abroad, this exhibition celebrates Turner’s astonishing creative flowering in these later years
          </span>

        <div class="book-now"><a ui-sref="home.ticket.order">kaartje kopen</a></div>

      </article>

      <article class="box exhibition">
        <header class="box-header">
          <span>TATE BRITAIN : EXHIBITION</span>
        </header>
        <img src="./images/exhibitions/smallexhibit3.jpg" alt="exhibition 1"/>
        <span class="exhibition-title">The EY Exhibition: Late Turner – Painting Set Free</span>
        <time>10 September 2014 – 25 January 2015</time>
          <span class="exhibition-information">
            Bringing together breathtaking works from the UK and abroad, this exhibition celebrates Turner’s astonishing creative flowering in these later years
          </span>

        <div class="book-now"><a ui-sref="home.ticket.order">kaartje kopen</a></div>
      </article>

      <article class="box exhibition">
        <header class="box-header">
          <span>TATE BRITAIN : EXHIBITION</span>
        </header>
        <img src="./images/exhibitions/smallexhibit4.jpg" alt="exhibition 1"/>
        <span class="exhibition-title">The EY Exhibition: Late Turner – Painting Set Free</span>
        <time>10 September 2014 – 25 January 2015</time>
          <span class="exhibition-information">
            Bringing together breathtaking works from the UK and abroad, this exhibition celebrates Turner’s astonishing creative flowering in these later years
          </span>

        <div class="book-now"><a ui-sref="home.ticket.order">kaartje kopen</a></div>

      </article>

    </div>

  </section>

</div>
