<div class="content-container">
  <section class="slider">
    <div class="slides">
      <article class="slide">
        <img src="./images/slides/slide1.jpg" width="960" height="555" alt="slide 1"/>
        <aside>
          <article>
            <header><h2><a href="#">Darwin Museum</a></h2></header>
            <p>Openings tijden:</p>
            <p>ma / vr : 12:00/22:00</p>
            <p>za / zo : 09:00/18:00</p>
            <a href="#">> Read more</a>
            <div class="arrow"></div>
          </article>
        </aside>
      </article>
    </div>
  </section>

  <section>
    <header class="heads-up">
      <h1>What's on:exhibitions</h1>
    </header>

    <div class="exhibitions">
      <article class="box exhibition" ng-repeat="performance in performances">
        <header class="box-header">
          <span>DARWIN MUSEUM: Tentoonstelling</span>
        </header>
        <img src="data:image/jpeg;base64,{{performance.image}}" alt="{{performance.name}}" width="463" height="263"/>
        <span class="exhibition-title">{{performance.name}}</span>
        <time>{{performance.startDate}} – {{performance.endDate}}</time>
          <span class="exhibition-information">
            {{performance.information}}
          </span>

        <div class="book-now"><a ui-sref="home.ticket.order">kaartje kopen</a></div>
      </article>

    </div>

    <div class="exhibitions">
      <article class="box exhibition" ng-repeat="artifact in artifacts">
        <header class="box-header">
          <span ng-bind="artifact.geologicalPeriod"></span>
        </header>
        <img src="data:image/jpeg;base64,{{artifact.image}}" alt="{{artifact.name}}" width="200px" height="181"/>
        <span class="exhibition-title" ng-bind="artifact.name"></span>
        <time>{{artifact.dateFound}}</time>
          <span class="exhibition-information">
            Gevonden in {{artifact.locationFound}}
          </span>

        <div class="book-now"><a ui-sref="home.ticket.order">kaartje kopen</a></div>
      </article>


    </div>

  </section>

</div>
