<div class="content-container">
  <section class="ticket-box">
    <header class="content-header">Kaartje kopen</header>
    <form class="ticket-form" action="">
      <input type="number" name="amount" value="0"/>

      <article class="ticket-form-box">
        <label for="firstName">Voornaam</label>
        <input type="text" id="firstName" name="firstName" placeholder="Voornaam">

        <label for="lastName">Achternaam</label>
        <input type="text" id="lastName" name="lastName" placeholder="Achternaam">

        <label for="birthDate">Geboorte Datum</label>
        <input type="date" id="birthDate" name="birthDate" value="1995-01-01">

        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Email">

        <label for="residence">Woonplaats</label>
        <input type="text" id="residence" name="residence" placeholder="Woonplaats">

        <label for="city">Stad/Provincie</label>
        <input type="text" id="city" name="city" placeholder="Stad">

      </article>

      <input type="submit" value="Bestellen" name="submit"/>

    </form>
  </section>
</div>
